.full{
    width: 100%;
}
h1, h2, h3, h4, h5{
    color: #30536f;
}
p{
    color: #54577c
}
body{
    background-image: url('../images/so-white.png');
    font-family: 'Roboto', ;
}
#bgpicture{
    background-color: #3B6980;
}
.adigeeBlue{
    color: #2f85c3;
}
.backgroundcolor{
    background-color: #cccccc;
}
.hostimg1{
    width:459px;
    height:337px;
}
.hostimg2{
    width:430px;
    height:241px;
}
.wrapper{
    position: relative;
    margin: auto;
    text-align: center;
    width: 1200px;
}
#basicinfo{
    padding-left: 100px;
}
#frontPageTextBlock {
    padding-top: 50px;
    padding-left: 20px;
    height: 337px;
    width: 600px;
  }
  #curentlocations{
      padding-top: 50px;
      margin-top: 30px;
      padding-bottom: 20px;
  }
  .video{
    width: 500px; 
    height: 315px;
  }

  #btn{
    background-color: #602d4c;
    height: 48px;
    padding: 12px 28px;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    
}
#btn2{
    background-color: #602d4c;
    height: 48px;
    padding: 12px 28px;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    
}
#btn:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.05); 
}

  @media screen and (max-width: 1200px){
    .wrapper{
        position: relative;
        margin: auto;
        text-align: center;
        width: 800px;
    }
  }
  @media screen and (max-width: 600px){
    .wrapper{
        position: relative;
        margin: auto;
        text-align: center;
        width: 340px;
    }
    .text-block {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
        height: 300px;
        border-radius: 25px;
        padding-top: 40px;
      }
      #bgpicture{
        background-color: #3B6980;
        height: 400px;
    }
    .hostimg1, .hostimg2 {
        width: 90%;
        height: 90%;
    }
    .video{
        width: 95%; 
        height: 95%;
      }
      #basicinfo{
        padding-left: 0px;
    }
}

#frontPageFirstSection{
margin-top: 40px;
margin-bottom: 40px;
}

.nav-link{
    font-weight: bold;
    font-size: 18px;
}

.text-uppercase{
    color: white;
}

/* */
  .animate-reveal {
    opacity: 0;
    -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       -moz-animation: reveal 2s ease-in 1 normal forwards;
         -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  }
  
  .animate-first {
    -webkit-animation-delay: 0;
       -moz-animation-delay: 0;
         -o-animation-delay: 0;
            animation-delay: 0;
  }
  
  .animate-second {
    -webkit-animation-delay: 500ms;
       -moz-animation-delay: 500ms;
         -o-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  
  .animate-third {
    -webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
         -o-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-moz-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @-o-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
         -moz-transform: translateY(100%);
           -o-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0);
    }
  }